<div id="all-fpr-forms" v-cloak>
  <div class="container">
    <h1>Funding Proposal Requests</h1>
    <br>
    <hr>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Saved Drafts</h4>
      </div>
      <div class="col-sm-12">
        <p v-if="!(forms.draft&&forms.draft.length)"><a href="/form">Start a new proposal</p>
        <ul v-if="forms.draft&&forms.draft.length">
          <li v-for="item in forms.draft">
             <a v-if="item.projectName" v-bind:href="'/form/'+item.id">{{ item.projectName }}</a>
             <a v-else v-bind:href="'/form/'+item.id">Draft Proposal {{ item.id }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Pending Approval</h4>
      </div>
      <div class="col-sm-12">
        <ul>
          <li v-for="item in forms.pending">
            <a v-bind:href="'/form/'+item.id">{{ item.projectName }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Listed Proposals</h4>
      </div>
      <div class="col-sm-12">
        <ul>
          <li v-for="item in forms.listed">
            <a v-bind:href="'/form/'+item.id">{{ item.projectName }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
