<div id="form" v-cloak>

  <h1><img class="form-inline" src="https://raw.githubusercontent.com/The-Bitcoin-Cash-Fund/Branding/master/BCF%20Symbol%20Round%20Tiny.png" alt="Bitcoin Cash Fund Logo">BCF Funding Proposal Request Form</h1>
  <hr>

  <div class="container">
    <div class="form-width-smaller">
      <div id="form-messages"></div>
      <form id="ajax-form">
        <div class="form-group row">
          <div class="col">
            <label for="projectName">Project Name</label>
            <p class="text-muted">Insert a project name here. Make sure it is unique and easy to refer to.</p>
            <!-- <input v-model="formObject.projectName" type="text" class="form-control" placeholder="Project Name" required> -->
            <input v-model="formObject.projectName" type="text" class="form-control" placeholder="Project Name">
          </div>
          <div class="col">
            <label for="startDate">Start Date</label>
            <p class="text-muted">Insert the date that the github repo and gitter room was created.</p>
            <!-- <input v-model="formObject.startDate" type="text" pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" class="form-control" placeholder="DD/MM/YYYY" title="DD/MM/YYYY" required> -->
            <input v-model="formObject.startDate" type="text" class="form-control" placeholder="DD/MM/YYYY" title="DD/MM/YYYY">
          </div>
        </div><!-- END OF FIRST ROW -->

        <div class="form-group row">
          <div class="col">
            <label for="hashtag">Hashtag</label>
            <p class="text-muted">Insert a project hashtag that can used on social media to discuss the project.</p>
            <input v-model="formObject.hashtag" type="text" class="form-control" placeholder="#Dingdong">
          </div>
          <div class="col">
            <label for="bcfName">Name of BCF Gitter community room</label>
            <p class="text-muted">Insert the name of the specific BCF Gitter community room created for the project.</p>
            <input v-model="formObject.bcfName" type="text" class="form-control">
          </div>
        </div><!-- END OF SECOND ROW -->

        <hr>

        <div class="form-group">
          <label for="stakeholders">Stakeholders</label>
          <p class="text-muted">Insert the list of people initially involved in the project. Pseudonymous identities can be used also.</p>
          <textarea class="form-control" v-model="formObject.stakeholders" rows="3"> {{ formObject.stakeholders }} </textarea>
        </div><!-- END THIRD ROW -->

        <div class="form-group">
          <label for="projectSummary">Project Summary</label>
          <p class="text-muted">Insert a short summary (a paragraph or two) of the project.</p>
          <textarea class="form-control" v-model="formObject.projectSummary" rows="8"> {{ formObject.projectSummary }} </textarea>
        </div><!-- END FOURTH ROW -->

        <div class="form-row">
          <label for="resources">Resources</label>
          <p class="text-muted">Insert a list of resources required including; skills, manpower, knowledge, services, materials, connections.</p>
          <textarea class="form-control" v-model="formObject.resources" rows="8"> {{ formObject.resources }} </textarea>
        </div><!-- END FIFTH ROW -->

        <div class="form-row">
          <label for="budget">Budget</label>
          <p class="text-muted">Insert an itemised list of the what must be paid for in the budget, a rough schedule when the funding is needed, and a total of the required funding.</p>
          <textarea class="form-control" v-model="formObject.budget" rows="8"> {{ formObject.budget }} </textarea>
        </div><!-- END 6th ROW -->

        <div class="form-group">
          <label for="timeline">Timeline</label>
          <p class="text-muted">Insert a project timeline here what will be happening when.</p>
          <textarea class="form-control" v-model="formObject.timeline" rows="6"> {{ formObject.timeline }} </textarea>
        </div><!-- END 7th ROW -->

        <div class="form-group">
          <label for="goals">Goals</label>
          <p class="text-muted">Insert a list of clearly defined goals including: - who you want to reach, - how many people you want to reach, - where are the people you want to reach, - why you want to reach them.</p>
          <textarea class="form-control" v-model="formObject.goals" rows="8"> {{ formObject.goals }} </textarea>
        </div><!-- END 8th ROW -->

        <div class="form-group">
          <label for="other">Other</label>
          <p class="text-muted">Insert any other information that should be known about the project.</p>
          <textarea class="form-control" v-model="formObject.other" rows="6"> {{ formObject.other }} </textarea>
        </div><!-- END 8th ROW -->

        <div class="form-group">
          <input class="btn btn-primary" type="submit" v-on:click="submitButton()"></input>
        </div>

        <br>

        <h2>Use S.M.A.R.T Principles When writing the BCF FPR</h2>
        <hr>
        <p>
          S - Specific - Well defined. Clear to anyone that has a basic knowledge of the project.
        </p>
        <p>
          M - Measurable - Know if the goal is obtainable. Find out when you have achieved your goal<
        </p>
        <p>
          A - Agreed Upon - Agreement with all the stakeholders what the goals should be.
        </p>
        <p>
          R - Realistic - Within the availability of resources, knowledge and time.
        </p>
        <p>
          T - Time-bound - Enough time to achieve the goal. Not too much time, which can affect project performance
        </p>

        <br>

        <h2>BCF FPR Requirements</h2>
        <hr>
        <ul>
          <li>A completed FPR must be included as to a project's github repo as the first commit/PR as an md file. This will help guide the project, and anyone who joins it can quickly find out the most important information.
          </li>
          <li>Any print media the BCF funds with either dimension over 40mm must have the BCF round logo on it somewhere.
          </li>
          <li>Any print media the BCF funds with either dimension over 100mm must have the logos of our Tier 3 sponsors on it somewhere.</li>
          <li>Any video projects the BCF funds must include the BCF Bitcoin Cash animation at the beginning or end of the video.
          </li>
          <li>Any video projects the BCF funds must include our tier 2 and tier 3 sponsors at the end of the video.
          </li>
          <li>The BCF reserves the right to not fund any project at it's own discretion.
          </li>
        </ul>

        <br>

        <h2>What isn't the Bitcoin Cash Fund for.</h2>
        <hr>
        <ul>
          <li>
            Funds will not be given to companies just to further their business. Companies are welcome to submit an FPR as long as it is for a specific project that attempts to directly increase awareness and adoption of Bitcoin Cash.
          </li>
          <li>
            Funds will not be paid to individuals or businesses simply because they want money.
          </li>
          <li>
            Funds will not be paid for BCH protocol development (at this time).
          </li>
        </ul>
        </div>
      </form>
    </div>
  </div>
</div>
