#page-header {
  a.cashfund-brand {
    color: @brand !important;
    font-family: @montserrat;
    font-size: 0.8rem;
    position: relative;
    top: 2px;
  }

  @media (min-width: 400px) {
    a.cashfund-brand {
      font-size: 1.2rem;
    }
  }
}
