#form {
  margin: 0 auto;
  max-width: 900px;

  label {
    font-size: 1.25rem;
  }

  input, textarea, img {
    margin-bottom: 20px;
  }

  .form-inline {
    // display: inline;
    // vertical-align: baseline;
  }

  .form-image-edits {
    margin-right: 50px;
  }

}


