<div id="install" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img src="https://thebitcoincash.fund/assets/img/hero_desktop.png"/>
      </div>
      <h1 class="display-4"><strong>Bitcoin Cash Fund Builder</strong></h1>
      <div>
        <div class="more-info-text">
          <div class="text">Get to building</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper">
    <div class="container">
      <div class="about text-center">
        <h3><a :href="beginInstallLink">Log in with Github</a></h3>
        <p>Bitcoin Cash Fund Builder is the easiest way to submit a funding proposal!</p>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
