<div id="install" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">

      <h1>Bitcoin Cash Fund Builder</h1>

      <h3 id="start"><a class="btn" :href="beginInstallLink">Log in with Github</a></h3>

      <img class="big-image hero-image" src="https://thebitcoincash.fund/assets/img/hero_desktop.png"/>

      <img class="sm-image" src="/images/hero-small.png"/>

      
    </div>
  </div>
  <div class="about-wrapper">
    <div class="container">
      <div class="about text-center">
        <h2>Bitcoin Cash Fund Builder is the easiest way to submit a funding proposal!</h2>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
