<div id="pending-fpr-forms" v-cloak>
  <div class="container">
    <h1>Pending Proposal Requests</h1>
    <div class="row mb-3">
      <div class="col-sm-12">
        <!-- <h4></h4> -->
      </div>
      <div class="col-sm-12">
        <ul v-if="forms.length">
          <li v-for="item in forms">
            <a v-bind:href="'/system/pending/'+item.id">{{ item.projectName }} by user {{ item.user && item.user.githubLogin }}</a>
          </li>
        </ul>
        <p v-if="!forms.length">There are no FPRs to approve.  You're all caught up!</p>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
